# PyCity Schools Analysis

* 

* 

*

In [83]:
# import libraries
import pandas as pd
import numpy as np

In [84]:
school_data_csv = ("../Resources/schools_complete.csv")
student_data_csv = ("../Resources/students_complete.csv")

# store csv files as dataframes
school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

In [85]:
# Create single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
# Create the pass/fail bins 
grades = [0,70,100]

# Create the names for the grades and add pass/fail columns to the df
PassFail = ["Fail","Pass"]
school_data_complete["passfail_reading"] = pd.cut(school_data_complete["reading_score"], grades, labels=PassFail, include_lowest=True)
school_data_complete["passfail_math"] = pd.cut(school_data_complete["math_score"], grades, labels=PassFail, include_lowest=True)


school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passfail_reading,passfail_math
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,Fail,Pass
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,Pass,Fail
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,Pass,Fail
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,Fail,Fail
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,Pass,Pass

In [86]:
# Calculate the total number of unique schools
school_count = len(pd.unique(school_data_complete['school_name']))

# Calculate the total number of students
student_count = len(pd.unique(school_data_complete["student_name"])) 

# Create a summary of schools and budgets
budget_all_students = pd.DataFrame(school_data_complete, columns=['school_name', 'budget', 'size'])

# Modify to have unique school name values
schools_budget_unique = budget_all_students.drop_duplicates(subset=["school_name"], keep='first').reset_index()

In [87]:
# Find total budget
budget_total = schools_budget_unique["budget"].sum()
# Calculate and Add budget percentage
#budget_percentage = [(schools_budget_unique["budget"] / budget_total)*100]

#schools_budget_unique.insert(4,"percent_of_total_budget",[budget_percentage],True)
#print(schools_budget_unique)

In [89]:
#finding math and reading averages by school
school_summary = school_data_complete.groupby(['school_name'])['reading_score','math_score'].mean().reset_index()
school_summary = school_summary.rename(columns={"reading_score": "avg_reading_score", 
                                    "math_score": "avg_reading_score"})
print(school_summary)

              school_name  avg_reading_score  avg_reading_score
0      Bailey High School          81.033963          77.048432
1     Cabrera High School          83.975780          83.061895
2    Figueroa High School          81.158020          76.711767
3        Ford High School          80.746258          77.102592
4     Griffin High School          83.816757          83.351499
5   Hernandez High School          80.934412          77.289752
6      Holden High School          83.814988          83.803279
7       Huang High School          81.182722          76.629414
8     Johnson High School          80.966394          77.072464
9        Pena High School          84.044699          83.839917
10  Rodriguez High School          80.744686          76.842711
11    Shelton High School          83.725724          83.359455
12     Thomas High School          83.848930          83.418349
13     Wilson High School          83.989488          83.274201
14     Wright High School          83.955000          83.682222

/var/folders/lx/kd28k3fd73zdt8856kql3c7m0000gn/T/ipykernel_4663/2880982292.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  school_summary = school_data_complete.groupby(['school_name'])['reading_score','math_score'].mean().reset_index()