# PyCity Schools Analysis

* 

* 

*

In [252]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [253]:
# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [254]:
# Create single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [255]:
# Calculate the total number of unique schools
school_count = len(pd.unique(school_data_complete['school_name']))
school_count

15

In [256]:
# Calculate the total number of students
student_count = len(pd.unique(school_data_complete["Student ID"])) 
student_count

39170

In [257]:
# Calculate the total budget
total_budget = pd.unique(school_data_complete["budget"]).sum()
total_budget

24649428

In [258]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [259]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [260]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [261]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [262]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [263]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
d_summary = {"Total Schools":[school_count],"Total Students":[student_count],"Total Budget":[total_budget],"Average Math Score":[average_math_score],"Average Reading Score":[average_reading_score],"% Passing Math":[passing_math_percentage],"% Passing Reading":[passing_reading_percentage],"% Overall Passing":[overall_passing_rate]}
district_summary = pd.DataFrame(d_summary)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)
district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17

## School Summary

In [264]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [265]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(['school_name'])["Student ID"].count().reset_index()
per_school_counts = per_school_counts.rename(columns={"Student ID": "student_count"})
per_school_counts["student_count"] = per_school_counts["student_count"].astype(float)
per_school_counts.set_index(["school_name"])

                       student_count
school_name
Bailey High School            4976.0
Cabrera High School           1858.0
Figueroa High School          2949.0
Ford High School              2739.0
Griffin High School           1468.0
Hernandez High School         4635.0
Holden High School             427.0
Huang High School             2917.0
Johnson High School           4761.0
Pena High School               962.0
Rodriguez High School         3999.0
Shelton High School           1761.0
Thomas High School            1635.0
Wilson High School            2283.0
Wright High School            1800.0

In [266]:
# Calculate the total school budget and per capita spending

per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget_df = pd.DataFrame(per_school_budget)
per_school_budget_df["size"] = pd.Series(school_data_complete.groupby(['school_name'])["Student ID"].count())

per_school_budget_df["per capita spending"] = per_school_budget_df["budget"] / per_school_budget_df["size"]

In [267]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(['school_name'])['math_score'].mean().reset_index()
per_school_reading = school_data_complete.groupby(['school_name'])['reading_score'].mean().reset_index()
per_school_math = per_school_math.rename(columns={"math_score": "Average Math Score"})
per_school_reading = per_school_reading.rename(columns={"reading_score": "Average Reading Score"})

In [268]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_passing_math_count = len(per_school_math["Average Math Score"] >= 70)
school_passing_math_count

15

In [269]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_passing_reading_count = len(per_school_reading["Average Reading Score"] >= 70)
school_passing_reading_count

15

In [270]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [271]:
# Calculate passing counts by school and create df of them with renamed columns

per_school_passing_math = school_passing_math.groupby(["school_name"])["student_name"].count().reset_index() 
per_school_passing_math = per_school_passing_math.rename(columns={"student_name": "Count Passing Math"})
per_school_passing_reading = school_passing_reading.groupby(["school_name"])["student_name"].count().reset_index()
per_school_passing_reading = per_school_passing_reading.rename(columns={"student_name": "Count Passing Reading"})
overall_passing_count = passing_math_and_reading.groupby(["school_name"])["student_name"].count().reset_index()
overall_passing_count = overall_passing_count.rename(columns={"student_name": "Count Passing Overall"})

In [272]:
# Create consolidated table of counts and passing rates by school
per_school_passing_rates = pd.merge(per_school_passing_math, per_school_passing_reading, how="outer", on=["school_name", "school_name"])
per_school_passing_rates = pd.merge(per_school_passing_rates, overall_passing_count, how="outer", on=["school_name","school_name"])
per_school_passing_rates["% Passing Math"] = per_school_passing_rates["Count Passing Math"] / per_school_counts["student_count"] * 100
per_school_passing_rates["% Passing Reading"] = per_school_passing_rates["Count Passing Reading"] / per_school_counts["student_count"] * 100
per_school_passing_rates["% Overall Passing"] = per_school_passing_rates["Count Passing Overall"] / per_school_counts["student_count"] * 100
per_school_passing_rates = per_school_passing_rates.set_index(["school_name"])

In [273]:

# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.merge(per_school_counts, school_types, how="left", on=["school_name"])
per_school_summary = pd.merge(per_school_summary, per_school_budget_df["budget"], how="left", on=["school_name"])
per_school_summary["Per Student Budget"] = per_school_summary["budget"]/per_school_summary["student_count"]
per_school_summary["Average Math Score"] = per_school_math["Average Math Score"]
per_school_summary["Average Reading Score"] = per_school_reading["Average Reading Score"]
per_school_summary = pd.merge(per_school_summary, per_school_passing_rates, how="left", on=["school_name"])
# Formatting
per_school_summary = per_school_summary.drop(["Count Passing Math","Count Passing Reading","Count Passing Overall"],axis=1).set_index(["school_name"])
per_school_summary = per_school_summary.rename(columns={"school_name": "School Name",
                                                        "type":"School Type",
                                                        "student_count":"Total Students",
                                                        "budget":"Total School Budget"})
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)

## Highest-Performing Schools (by % Overall Passing)

In [274]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
per_school_summary.sort_values(by=['% Overall Passing'],ascending = False).head()

,Total Students,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,1858.0,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.133477,97.039828,91.334769
Thomas High School,1635.0,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.272171,97.308869,90.948012
Griffin High School,1468.0,Charter,"$917,500.00",$625.00,83.35,83.82,93.392371,97.138965,90.599455
Wilson High School,2283.0,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.867718,96.539641,90.582567
Pena High School,962.0,Charter,"$585,858.00",$609.00,83.84,84.04,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [275]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
per_school_summary.sort_values(by=['% Overall Passing'],ascending = True).head()

,Total Students,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,3999.0,District,"$2,547,363.00",$637.00,76.84,80.74,66.366592,80.220055,52.988247
Figueroa High School,2949.0,District,"$1,884,411.00",$639.00,76.71,81.16,65.988471,80.739234,53.204476
Huang High School,2917.0,District,"$1,910,635.00",$655.00,76.63,81.18,65.683922,81.316421,53.513884
Hernandez High School,4635.0,District,"$3,022,020.00",$652.00,77.29,80.93,66.752967,80.862999,53.527508
Johnson High School,4761.0,District,"$3,094,650.00",$650.00,77.07,80.97,66.057551,81.222432,53.539172

## Math Scores by Grade

In [276]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_math_scores = ninth_graders.groupby(["school_name"])["math_score"].mean().reset_index()
tenth_graders_math_scores = tenth_graders.groupby(["school_name"])["math_score"].mean().reset_index()
eleventh_graders_math_scores = eleventh_graders.groupby(["school_name"])["math_score"].mean().reset_index()
twelfth_graders_math_scores = twelfth_graders.groupby(["school_name"])["math_score"].mean().reset_index()
# Format column names
ninth_graders_math_scores = ninth_graders_math_scores.rename(columns={"math_score":"9th"})
tenth_graders_math_scores = tenth_graders_math_scores.rename(columns={"math_score":"10th"})
eleventh_graders_math_scores = eleventh_graders_math_scores.rename(columns={"math_score":"11th"})
twelfth_graders_math_scores = twelfth_graders_math_scores.rename(columns={"math_score":"12th"})
ninth_graders_math_scores

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.merge(ninth_graders_math_scores, tenth_graders_math_scores,how="left",on=["school_name"])
math_scores_by_grade = pd.merge(math_scores_by_grade, eleventh_graders_math_scores,how="left",on=["school_name"])
math_scores_by_grade = pd.merge(math_scores_by_grade, twelfth_graders_math_scores,how="left",on=["school_name"])

# Minor data wrangling
math_scores_by_grade.set_index(["school_name"])
# Display the DataFrame
math_scores_by_grade

              school_name        9th       10th       11th       12th
0      Bailey High School  77.083676  76.996772  77.515588  76.492218
1     Cabrera High School  83.094697  83.154506  82.765560  83.277487
2    Figueroa High School  76.403037  76.539974  76.884344  77.151369
3        Ford High School  77.361345  77.672316  76.918058  76.179963
4     Griffin High School  82.044010  84.229064  83.842105  83.356164
5   Hernandez High School  77.438495  77.337408  77.136029  77.186567
6      Holden High School  83.787402  83.429825  85.000000  82.855422
7       Huang High School  77.027251  75.908735  76.446602  77.225641
8     Johnson High School  77.187857  76.691117  77.491653  76.863248
9        Pena High School  83.625455  83.372000  84.328125  84.121547
10  Rodriguez High School  76.859966  76.612500  76.395626  77.690748
11    Shelton High School  83.420755  82.917411  83.383495  83.778976
12     Thomas High School  83.590022  83.087886  83.498795  83.497041
13     Wilson High School  83.085578  83.724422  83.195326  83.035794
14     Wright High School  83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [277]:

# Group by "school_name" and take the mean of each.
ninth_graders_reading_scores = ninth_graders.groupby(["school_name"])["reading_score"].mean().reset_index()
tenth_graders_reading_scores = tenth_graders.groupby(["school_name"])["reading_score"].mean().reset_index()
eleventh_graders_reading_scores = eleventh_graders.groupby(["school_name"])["reading_score"].mean().reset_index()
twelfth_graders_reading_scores = twelfth_graders.groupby(["school_name"])["reading_score"].mean().reset_index()
# Format column names
ninth_graders_reading_scores = ninth_graders_reading_scores.rename(columns={"reading_score":"9th"})
tenth_graders_reading_scores = tenth_graders_reading_scores.rename(columns={"reading_score":"10th"})
eleventh_graders_reading_scores = eleventh_graders_reading_scores.rename(columns={"reading_score":"11th"})
twelfth_graders_reading_scores = twelfth_graders_reading_scores.rename(columns={"reading_score":"12th"})
ninth_graders_reading_scores

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.merge(ninth_graders_reading_scores, tenth_graders_reading_scores,how="left",on=["school_name"])
reading_scores_by_grade = pd.merge(reading_scores_by_grade, eleventh_graders_reading_scores,how="left",on=["school_name"])
reading_scores_by_grade = pd.merge(reading_scores_by_grade, twelfth_graders_reading_scores,how="left",on=["school_name"])

# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

              school_name        9th       10th       11th       12th
0      Bailey High School  81.303155  80.907183  80.945643  80.912451
1     Cabrera High School  83.676136  84.253219  83.788382  84.287958
2    Figueroa High School  81.198598  81.408912  80.640339  81.384863
3        Ford High School  80.632653  81.262712  80.403642  80.662338
4     Griffin High School  83.369193  83.706897  84.288089  84.013699
5   Hernandez High School  80.866860  80.660147  81.396140  80.857143
6      Holden High School  83.677165  83.324561  83.815534  84.698795
7       Huang High School  81.290284  81.512386  81.417476  80.305983
8     Johnson High School  81.260714  80.773431  80.616027  81.227564
9        Pena High School  83.807273  83.612000  84.335938  84.591160
10  Rodriguez High School  80.993127  80.629808  80.864811  80.376426
11    Shelton High School  84.122642  83.441964  84.373786  82.781671
12     Thomas High School  83.728850  84.254157  83.585542  83.831361
13     Wilson High School  83.939778  84.021452  83.764608  84.317673
14     Wright High School  83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [278]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [279]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
# Change formatting for later calculations
school_spending_df["Average Math Score"] = school_spending_df["Average Math Score"].astype(float)
school_spending_df["Average Reading Score"] = school_spending_df["Average Reading Score"].astype(float)
school_spending_df

,Total Students,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,4976.0,District,"$3,124,928.00",$628.00,77.05,81.03,66.680064,81.933280,54.642283
Cabrera High School,1858.0,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.133477,97.039828,91.334769
Figueroa High School,2949.0,District,"$1,884,411.00",$639.00,76.71,81.16,65.988471,80.739234,53.204476
Ford High School,2739.0,District,"$1,763,916.00",$644.00,77.10,80.75,68.309602,79.299014,54.289887
Griffin High School,1468.0,Charter,"$917,500.00",$625.00,83.35,83.82,93.392371,97.138965,90.599455
Hernandez High School,4635.0,District,"$3,022,020.00",$652.00,77.29,80.93,66.752967,80.862999,53.527508
Holden High School,427.0,Charter,"$248,087.00",$581.00,83.80,83.81,92.505855,96.252927,89.227166
Huang High School,2917.0,District,"$1,910,635.00",$655.00,76.63,81.18,65.683922,81.316421,53.513884
Johnson High School,4761.0,District,"$3,094,650.00",$650.00,77.07,80.97,66.057551,81.222432,53.539172
Pena High School,962.0,Charter,"$585,858.00",$609.00,83.84,84.04,94.594595,95.945946,90.540541
Rodriguez High School,3999.0,District,"$2,547,363.00",$637.00,76.84,80.74,66.366592,80.220055,52.988247
Shelton High School,1761.0,Charter,"$1,056,600.00",$600.00,83.36,83.73,93.867121,95.854628,89.892107
Thomas High School,1635.0,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.272171,97.308869,90.948012
Wilson High School,2283.0,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.867718,96.539641,90.582567
Wright High School,1800.0,Charter,"$1,049,400.00",$583.00,83.68,83.95,93.333333,96.611111,90.333333

In [280]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_budget_df["per capita spending"], bins=spending_bins, labels=labels, include_lowest=True)
school_spending_df

,Total Students,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,4976.0,District,"$3,124,928.00",$628.00,77.05,81.03,66.680064,81.933280,54.642283,$585-630
Cabrera High School,1858.0,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.133477,97.039828,91.334769,<$585
Figueroa High School,2949.0,District,"$1,884,411.00",$639.00,76.71,81.16,65.988471,80.739234,53.204476,$630-645
Ford High School,2739.0,District,"$1,763,916.00",$644.00,77.10,80.75,68.309602,79.299014,54.289887,$630-645
Griffin High School,1468.0,Charter,"$917,500.00",$625.00,83.35,83.82,93.392371,97.138965,90.599455,$585-630
Hernandez High School,4635.0,District,"$3,022,020.00",$652.00,77.29,80.93,66.752967,80.862999,53.527508,$645-680
Holden High School,427.0,Charter,"$248,087.00",$581.00,83.80,83.81,92.505855,96.252927,89.227166,<$585
Huang High School,2917.0,District,"$1,910,635.00",$655.00,76.63,81.18,65.683922,81.316421,53.513884,$645-680
Johnson High School,4761.0,District,"$3,094,650.00",$650.00,77.07,80.97,66.057551,81.222432,53.539172,$645-680
Pena High School,962.0,Charter,"$585,858.00",$609.00,83.84,84.04,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,3999.0,District,"$2,547,363.00",$637.00,76.84,80.74,66.366592,80.220055,52.988247,$630-645
Shelton High School,1761.0,Charter,"$1,056,600.00",$600.00,83.36,83.73,93.867121,95.854628,89.892107,$585-630
Thomas High School,1635.0,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.272171,97.308869,90.948012,$630-645
Wilson High School,2283.0,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.867718,96.539641,90.582567,<$585
Wright High School,1800.0,Charter,"$1,049,400.00",$583.00,83.68,83.95,93.333333,96.611111,90.333333,<$585

In [281]:
# Change percents to floats
school_spending_df["% Passing Math"].astype(str)
school_spending_df["% Passing Reading"].astype(str)
school_spending_df["% Overall Passing"].astype(str)
school_spending_df["% Passing Math"] = school_spending_df["% Passing Math"].astype("float") 
school_spending_df["% Passing Reading"] = school_spending_df["% Passing Reading"].astype("float") / 100
school_spending_df["% Overall Passing"] = school_spending_df["% Overall Passing"].astype("float") / 100
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby("Spending Ranges (Per Student)").mean()["% Overall Passing"]
spending_reading_scores

Spending Ranges (Per Student)
<$585       83.932500
$585-630    83.155000
$630-645    81.625000
$645-680    81.026667
Name: Average Reading Score, dtype: float64

In [282]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Spending Ranges (Per Student)":labels,
                                 "Average Math Score":spending_math_scores,
                                 "Average Reading Score":spending_reading_scores,
                                 "% Passing Math":spending_passing_math,
                                 "% Passing Reading":spending_passing_reading,
                                 "% Overall Passing":overall_passing_spending}).set_index("Spending Ranges (Per Student)")
# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.932500,93.460096,0.966109,0.903695
$585-630,81.900000,83.155000,87.133538,0.927182,0.814186
$630-645,78.517500,81.625000,73.484209,0.843918,0.628577
$645-680,76.996667,81.026667,66.164813,0.811340,0.535269

## Scores by School Size

In [283]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [284]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(school_spending_df["Total Students"],bins=size_bins,labels=labels,include_lowest=True)
per_school_summary

,Total Students,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,4976.0,District,"$3,124,928.00",$628.00,77.05,81.03,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,1858.0,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,2949.0,District,"$1,884,411.00",$639.00,76.71,81.16,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,2739.0,District,"$1,763,916.00",$644.00,77.10,80.75,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,1468.0,Charter,"$917,500.00",$625.00,83.35,83.82,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,4635.0,District,"$3,022,020.00",$652.00,77.29,80.93,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,427.0,Charter,"$248,087.00",$581.00,83.80,83.81,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,2917.0,District,"$1,910,635.00",$655.00,76.63,81.18,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,4761.0,District,"$3,094,650.00",$650.00,77.07,80.97,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,962.0,Charter,"$585,858.00",$609.00,83.84,84.04,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,3999.0,District,"$2,547,363.00",$637.00,76.84,80.74,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,1761.0,Charter,"$1,056,600.00",$600.00,83.36,83.73,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,1635.0,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,2283.0,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,1800.0,Charter,"$1,049,400.00",$583.00,83.68,83.95,93.333333,96.611111,90.333333,Medium (1000-2000)

In [285]:
# Calculate averages for the desired columns. 
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].astype(float)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].astype(float)
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"]).mean(["Average Reading Score"])
#size_passing_math = per_school_summary.groupby(["School Size"]).mean(["% Passing Math"])
#size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
#size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [286]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"School Size":labels,
                             "Average Math Score":size_math_scores,
                             "Average Reading Score":size_reading_scores,
                             "% Passing Math":size_passing_math,
                             "% Passing Reading":size_passing_reading,
                             "% Overall Passing":size_overall_passing}).set_index("School Size")

# Display results
size_summary

ValueError: Data must be 1-dimensional

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary.groupby(["School Type"])["Average Math Score"].mean().reset_index()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean().reset_index()
type_passing_math = per_school_summary.groupby(["School Type"])["% Passing Math"].mean().reset_index()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean().reset_index()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean().reset_index()

# Use the code provided to select new column data
school_type = ["District","Charter"]
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]
school_type

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"School Type":school_type,
                             "Average Math Score":average_math_score_by_type,
                             "Average Reading Score":average_reading_score_by_type,
                             "% Passing Math":average_percent_passing_math_by_type,
                             "% Passing Reading":average_percent_passing_reading_by_type,
                             "% Overall Passing":average_percent_overall_passing_by_type}).set_index("School Type")

# Display results
type_summary